{% extends 'base.html' %}

<!-- To load static file -->
{% load static %}

{% block content %}

    <div id="users">
    </div>

    <!-- To add extra block and will only be applied to the content block -->
    {% block extra_js %}
      <script src="{% static 'blog/main.js' %}"></script>
    {% endblock %}

{% endblock %}










<!-- displaying with django template -->

<!-- {% for data in resBlog reversed %} -->
<!-- article.html -->
<!-- <article class="media content-section">
  <div class="media d-flex">
    <img class="rounded-circle account-img" src="{{ data.image }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">Author : {{ data.author }}</a>
        <small class="text-muted">Date : {{ data.date_blog }}</small>
      </div>
      <h2><a class="article-title" href="#">Blog Title : {{ data.title }}</a></h2>
      <p class="article-content">Description : {{ data.des }}</p>
      <p class="article-content">Content : {{ data.content }}</p>
      <p>All tags :
        {% for tag in data.tags %}
            <span>{{ tag.tag }}</span>
        {% endfor %}
      </p>
    </div>
  </div>
  </article> -->
<!-- {% endfor %} -->